<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 appBasicHighlight>Main component</h1>
      <hr>
<app-servers [test]="'dasddsada'"></app-servers>
    </div>
  </div>
</div>

<div>
  <app-game-control (counterEvent)="addNum($event)"></app-game-control>
  <div *ngFor="let num of nums">
    <ng-container *ngIf="num % 2 === 0; then odd; else even">
    </ng-container>
    <ng-template #odd>
      <app-odd [num]="num"></app-odd>
    </ng-template>    
    <ng-template #even>
      <app-even [num]="num"></app-even>
    </ng-template>

    <div *appUnless="num % 2 === 0;">
      <app-odd [num]="num"></app-odd>
    </div>
  </div>


</div>



<p [appSecondHighlight]="'red'" defaultColor="yellow">WOWOWOWOW</p>
